---
import { getEntry } from "astro:content";
import BaseLayout from '../layouts/BaseLayout.astro';

const about = await getEntry('other', 'about');

const { Content } = await about.render();
---

<BaseLayout title={about.data.title} description={about.data.description}>
  <h1>{about.data.title}</h1>
  <Content />
</BaseLayout>