---
import { getCollection } from 'astro:content';
import { sortByDate } from '../utils';
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';

const posts = sortByDate(await getCollection('english', ({ data }) => {
  return import.meta.env.PROD ? data.draft !== true : true;
}));
---

<BaseLayout title="English-Learn">
  <h1>English Learning</h1>

  <div class="not-prose">
    <ul>
      {
        posts.map((post) => {
          return (
            <BlogPost post={post} />
          )
        })
      }
    </ul>
  </div>
</BaseLayout>
