---
import { getCollection } from 'astro:content';
import { sortByDate } from '../utils';
import BaseLayout from '../layouts/BaseLayout.astro';
import Tag from '../components/Tag.astro';
import BlogPost from '../components/BlogPost.astro';

// 获取所有文章
const posts = await getCollection('posts', ({ data }) => {
  return import.meta.env.PROD ? data.draft !== true : true;
})

// 倒叙
const descPosts = sortByDate(posts);

// 升序
const ascPosts = sortByDate(posts, 'asc');

// 标签
const tags = [...new Set(ascPosts.map((post) => post.data.tags).flat())];
---

<BaseLayout title="Home">
  <div class="not-prose">
    <div class="flex flex-wrap gap-2 text-sm mt-2 mb-6">
      {
        tags.map((tag) => {
          return (
            <Tag tag={tag} />
          )
        })
      }
    </div>

    <ul>
      {
        descPosts.map((post) => {
          return (
            <BlogPost post={post} />
          )
        })
      }
    </ul>
  </div>
</BaseLayout>
