---
import BaseLayout from "@/layouts/BaseLayout.astro"

const projects = [
  { name: "NTodo", href: "https://todo.deore.me/", desc: "使用 React + TS 实现的一个 TodoList，基础操作习惯参考了 Microsoft To Do", github: "https://github.com/bohecola/naive-todo" }
]
---

<BaseLayout title="Projects">
  <h1>Projects</h1>

    <ul class="">
      {
        projects.map((project) => {
          return (
            <li>
              <a href={project.href} class="text-lg" target="_blank">
                {project.name}
              </a>
              <p class="text-sm">{project.desc}</p>
            </li>
          )
        })
      }
    </ul>
</BaseLayout>
