---
import dayjs from 'dayjs';
import type { CollectionEntry } from 'astro:content';

interface Props {
  post: CollectionEntry<'posts'>
}

const { post } = Astro.props;
---

<li class="mt-2 mb-6">
  <a href={`/posts/${post.slug}`} class="border-dashed hover:border-b-2">
    <span class="mr-2 text-lg">{post.data.title}</span>
    <br class="md:hidden">
    <span class="text-sm">{dayjs(post.data.pubDate).format('MMM DD, YYYY')}</span>
  </a>
</li>