---
import ModeToggle from "./ModeToggle.astro";

const navigation = [
	{ href: "/", title: "Blog", icon: "i-ri-article-line" },
	{ href: "/english", title: "English", icon: "i-material-symbols-book-2-outline-rounded" },
	{ href: "/about", title: "About", icon: "i-carbon-person" }
];

// 当前路径
const { pathname } = Astro.url;

// 导航是否高亮
const isActive = (href: string) => {
  // Blog 导航高亮处理
  if (href === '/') {
    return pathname === '/' || pathname.includes('/posts/')
  }
  // 其他导航高亮处理
  return pathname.includes(href);
}
---

<header class="sticky top-0 flex p-5 z-10 border-b dark:border-zinc-800 backdrop-blur supports-backdrop-blur:bg-[--bg]/60">
  <div class="flex-1" />
  <nav>
    <ul class="flex gap-4">
      {
        navigation.map(({ href, title, icon }) => {
          return (
            <li>
              <a
                href={href}
                class={isActive(href) ? 'active' : ''}
              >
                <span class="max-md:hidden">{title}</span>
                <span class={`md:hidden ${icon}`} />
              </a>  
            </li>
          )
        })
      }
      <li>
        <a
          title="Github"
          href="https://github.com/bohecola"
          target="_blank"
          aria-label="bohecola's github"
        >
          <span class="i-carbon-logo-github" />
        </a>
      </li>
  
      <li>
        <a>
          <ModeToggle />
        </a>
      </li>
    </ul>
  </nav>
  <div class="curtain pointer-events-none" />
</header>

<style lang="scss">
  header {
    nav {
      a {
        opacity: .7;
        transition: opacity .2s ease;
        &:hover, &.active {
          opacity: 1;
        }
      }
    }
  }
  </style>
  