---
import { ViewTransitions } from "astro:transitions";
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import GoBack from '../components/GoBack.astro';
import BackToTop from '../components/vue/BackToTop.vue';
import '../styles/base.scss';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body>
		<Header />
		<main class="px-7 py-10 overflow-x-hidden">
			<div class="mx-auto prose dark:prose-invert prose-img:rounded prose-img:border">
				<slot />
				<GoBack />
			</div>
		</main>
		<Footer />
		<BackToTop client:only />
	</body>
</html>
